source/Resources/DBModifDef.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:choice maxOccurs="unbounded" minOccurs="1">
					<xs:element type="xs:string" name="altDBImpl" minOccurs="0"/>
					<xs:element name="DBAction">
						<xs:complexType>
							<xs:sequence>
								<xs:choice maxOccurs="unbounded" minOccurs="1">
									<xs:element name="env" minOccurs="0">
										<xs:simpleType>
											<xs:union>
												<xs:simpleType>
													<xs:restriction base='xs:string'>
														<xs:length value="0"/>
													</xs:restriction>
												</xs:simpleType>
												<xs:simpleType>
													<xs:restriction base='xs:byte' />
												</xs:simpleType>
											</xs:union>
										</xs:simpleType>
									</xs:element>
									<xs:element type="xs:string" name="database"/>
									<xs:element type="xs:string" name="execOnSave" minOccurs="0"/>
									<xs:element type="xs:string" name="askBeforeExecute" minOccurs="0"/>
									<xs:element type="xs:string" name="confirmText" minOccurs="0"/>
									<xs:element type="xs:string" name="parametrized" minOccurs="0"/>
									<xs:element type="xs:string" name="paramEnclosing" minOccurs="0"/>
									<xs:element type="xs:string" name="convertAsString" minOccurs="0"/>
									<xs:element type="xs:string" name="convertAsDate" minOccurs="0"/>
									<xs:element type="xs:string" name="continueIfRowEmpty" minOccurs="0"/>
									<xs:element type="xs:string" name="paramRangesStr" minOccurs="0"/>
								</xs:choice>
							</xs:sequence>
							<xs:attribute name="Name" type="xs:string"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="DBMapper">
						<xs:complexType>
							<xs:sequence>
								<xs:choice maxOccurs="unbounded" minOccurs="1">
									<xs:element name="env" minOccurs="0">
										<xs:simpleType>
											<xs:union>
												<xs:simpleType>
													<xs:restriction base='xs:string'>
														<xs:length value="0"/>
													</xs:restriction>
												</xs:simpleType>
												<xs:simpleType>
													<xs:restriction base='xs:byte' />
												</xs:simpleType>
											</xs:union>
										</xs:simpleType>
									</xs:element>
									<xs:element type="xs:string" name="database"/>
									<xs:element type="xs:string" name="tableName"/>
									<xs:element type="xs:byte" name="primKeysStr"/>
									<xs:element type="xs:string" name="insertIfMissing" minOccurs="0"/>
									<xs:element type="xs:string" name="executeAdditionalProc" minOccurs="0"/>
									<xs:element type="xs:string" name="executeAdditionalCodeBegin" minOccurs="0"/>
									<xs:element type="xs:string" name="ignoreColumns" minOccurs="0"/>
									<xs:element type="xs:string" name="CUDFlags" minOccurs="0"/>
									<xs:element type="xs:string" name="AutoIncFlag" minOccurs="0"/>
									<xs:element type="xs:string" name="execOnSave" minOccurs="0"/>
									<xs:element type="xs:string" name="askBeforeExecute" minOccurs="0"/>
									<xs:element type="xs:string" name="IgnoreDataErrors" minOccurs="0"/>
									<xs:element type="xs:string" name="confirmText" minOccurs="0"/>
									<xs:element type="xs:string" name="avoidFill" minOccurs="0"/>
									<xs:element type="xs:string" name="preventColResize" minOccurs="0"/>
									<xs:element type="xs:string" name="deleteBeforeMapperInsert" minOccurs="0"/>
									<xs:element type="xs:string" name="onlyRefreshTheseDBSheetLookups" minOccurs="0"/>
									<xs:element type="xs:string" name="preventAutoInc" minOccurs="0"/>
								</xs:choice>
							</xs:sequence>
							<xs:attribute name="Name" type="xs:string"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="DBSeqnce">
						<xs:complexType>
							<xs:sequence>
								<xs:choice maxOccurs="unbounded" minOccurs="1">
									<xs:element type="xs:string" name="execOnSave" minOccurs="0"/>
									<xs:element type="xs:string" name="askBeforeExecute" minOccurs="0"/>
									<xs:element type="xs:string" name="confirmText" minOccurs="0"/>
									<xs:element type="xs:string" name="seqStep" maxOccurs="unbounded" minOccurs="0"/>
								</xs:choice>
							</xs:sequence>
							<xs:attribute name="Name" type="xs:string"/>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>